<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta
      property="og:description"
      content="{{ page.excerpt | strip_html | truncatewords: 30 }}"
    />
    {% if page.hero_path %}
    <meta property="og:image" content="{{ page.hero_path | absolute_url }}" />
    {% endif %}
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:type" content="article" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta
      name="twitter:description"
      content="{{ page.excerpt | strip_html | truncatewords: 30 }}"
    />
    {% if page.hero_path %}
    <meta name="twitter:image" content="{{ page.hero_path | absolute_url }}" />
    {% endif %}
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Basic Meta Tags -->
    <meta
      name="description"
      content="{{ page.excerpt | strip_html | truncatewords: 30 }}"
    />
    <link rel="canonical" href="{{ page.url | absolute_url }}" />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.0/dist/typography.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/output.css' | relative_url }}"
    />

    <!-- Super lightweight analytics using goatcounter.com -->
    <script
      data-goatcounter="https://qtblog.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    ></script>
  </head>
  <body class="bg-gray-100 text-gray-900 antialiased">
    <!-- Header -->
    <header class="bg-gray-900 text-white">
      <div
        class="max-w-7xl mx-auto px-6 py-6 flex justify-between items-center"
      >
        <!-- Logo and Title -->
        <h1 class="text-3xl font-bold">
          <a
            href="{{ '/' | relative_url }}"
            class="text-gray-800 hover:text-gray-300"
          >
            {{ site.title }}
          </a>
        </h1>

        <!-- Navigation Menu -->
        <nav class="mt-4 sm:mt-0">
          <ul class="flex space-x-6">
            {% for link in site.nav_links %}
            <li>
              <a
                href="{{ link.url | relative_url }}"
                class="text-white hover:text-gray-300 transition-colors duration-200"
              >
                {{ link.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <!-- Main Content -->
    <main class="max-w-7xl mx-auto px-6 py-8">{{ content }}</main>

    <!-- Footer -->
    <footer class="bg-gray-900 text-white">
      <div class="max-w-7xl mx-auto px-6 py-4 text-center">
        <p class="text-sm">
          &copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights
          reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
