---
layout: default
---

<section class="max-w-4xl mx-auto my-12 px-4">
  <section>{{ content }}</section>
  {% for post in site.posts limit:5 %}
  <article
    class="mb-8 bg-white shadow-lg rounded-xl overflow-hidden hover:shadow-2xl transition-shadow duration-300"
  >
    <header class="p-6 bg-gradient-to-r from-purple-600 to-pink-600">
      <h2 class="text-3xl font-extrabold tracking-tight text-white">
        <a href="{{ post.url | relative_url }}" class="hover:underline"
          >{{ post.title }}</a
        >
      </h2>
      <p class="mt-2 text-sm text-gray-100">
        Published on
        <time datetime="{{ post.date | date: '%Y-%m-%d' }}"
          >{{ post.date | date: "%B %d, %Y" }}</time
        >
        {% if post.categories %} in {% for category in post.categories %}
        <a
          href="{{ site.baseurl }}/categories/{{ category }}"
          class="inline-block ml-1 px-2 py-0.5 bg-pink-700 rounded text-xs font-medium hover:bg-pink-800"
        >
          {{ category }} </a
        >{% unless forloop.last %}{% if forloop.index0 != post.categories | size
        - 1 %},{% endif %}{% endunless %} {% endfor %} {% endif %}
      </p>
    </header>

    <div class="p-6 text-gray-700 leading-relaxed prose prose-indigo">
      {{ post.excerpt | strip_html | truncatewords: 30 }}
    </div>
  </article>
  {% endfor %}
</section>
